html{
	--true-blue: hsla(210, 96%, 40%, 1);
	--sapphire: hsla(210, 96%, 33%, 1);
	--yale-blue: hsla(211, 97%, 25%, 1);
	--oxford-blue: hsla(212, 100%, 17%, 1);
	--oxford-blue-2: hsla(219, 100%, 14%, 1);
	--oxford-blue-3: hsla(219, 100%, 10%, 1);
	--delft-blue: hsla(220, 29%, 28%, 1);
	--paynes-gray: hsla(220, 15%, 43%, 1);
	--slate-gray: hsla(222, 11%, 54%, 1);
	--cool-gray: hsla(223, 11%, 63%, 1);
	background-color: var(--cool-gray);
	color:var(--sapphire);
}
h1{
	padding: 0.5%;
	margin: 0; 
}

table{
	border: 2px solid black; 
	border-collapse: collapse;
}
thead{
	text-align: center;
	border: 2px solid black; 
}
td{
	border: 2px solid black;
	color:var(--oxford-blue-3);
}
footer{
	background-color: var(--oxford-blue);
	color:var(--cool-gray); 
	position: relative;
	text-align:center;
	line-height: 1.5em;
	width:100%; 
	top: 10px; 
	left:-12px; 
	margin: 0px; 
	padding: 10px; 
}
.top{
	height:fit-content;
	text-align:center;
	position:relative;
	line-height: 2.2em;
	width:100%; 
	top:-10px; 
	left:-12px; 
	margin-bottom: 2%; 
	padding: 10px; 
	background-color: var(--oxford-blue);
	color:var(--cool-gray);
}
input[type='text'], input[type='password']{
	border-radius: 25px;
	height: 20px;
}
button, input[type='submit']{
	height:30px; 
	border-radius: 20% / 70%;
	border-color:2px solid var(--true-blue); 
	background-color: white;
	min-width: 70px;
}
button:hover, input[type='submit']:hover{
	transition:cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 2s;
	transform:translateY(-3px);
	background-color: var(--true-blue);
	color: white; 
	border-color:2px solid var(--cool-gray); 
}
td.red{
	background-color: #E0000e; 
}
td.green{
	background-color:olivedrab;
}
td.center{
	text-align: center;

}
form#colors{
	display: block;
	width:100%; 
	align-items: center;
	align-content: center;
	text-align: center;
}
select#format, select#format>option{
	display:inline-block; 
	height:30px;
	border-radius: 10%/70%;
}
input[type='radio']{
	vertical-align: top;
	width: 30px !important;
	height: 30px !important;
}
input[type='checkbox'].colorpicker{
	text-align: center;
	vertical-align: middle;
	width: 30px !important;
	height: 30px !important;
	appearance: none;
	border-radius:50%;
	background-color: gray;
	/* content: '\2713'; */
	box-shadow: none;
	line-height: 30px;
}
input[type='checkbox']#W.colorpicker:after{color:White; content:'W'; line-height: 30px; font-size: 25px;}
input[type='checkbox']#U.colorpicker:after{color:Blue ; content:'U'; line-height: 30px; font-size: 25px;}
input[type='checkbox']#B.colorpicker:after{color:Black; content:'B'; line-height: 30px; font-size: 25px;}
input[type='checkbox']#R.colorpicker:after{color:Red  ; content:'R'; line-height: 30px; font-size: 25px;}
input[type='checkbox']#G.colorpicker:after{color:Green; content:'G'; line-height: 30px; font-size: 25px;}

input[type='checkbox']:checked#W.colorpicker{ background-color:white; color:gray; }
input[type='checkbox']:hover#W.colorpicker{ 
	transition:cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 2s;
	background-color:white; 
	color:gray; 
}
input[type='checkbox']:checked#U.colorpicker{ background-color:blue; color:gray;}
input[type='checkbox']:hover#U.colorpicker{ 
	transition:cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 2s;
	background-color:blue; 
	color:gray; 
}
input[type='checkbox']:checked#B.colorpicker{ background-color:black; color:gray;}
input[type='checkbox']:hover#B.colorpicker{ 
	transition:cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 2s;
	background-color:black; 
	color:gray; 
}
input[type='checkbox']:checked#R.colorpicker{ background-color:red; color:gray;}
input[type='checkbox']:hover#R.colorpicker{ 
	transition:cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 2s;
	background-color:red; 
	color:gray; 
}
input[type='checkbox']:checked#G.colorpicker{ background-color:green; color:gray;}
input[type='checkbox']:hover#G.colorpicker{ 
	transition:cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 1s;
	background-color:green; 
	color:gray; 
}
.reviewbox{
	background-color: var(--sapphire);
	color: var(--oxford-blue-3);
	color:hsla(223, 11%, 63%, 1);
	border:2px solid var(--oxford-blue); 
	width:fit-content;
	display:inline-block;
	text-align: center;
	border-radius: 20px;
	max-width: 16em;
	padding: 0.25% 0.5% 2% 0.5%;
	margin-top: 2px; 
	margin-bottom: 2px;
}

.showcase{
	width:15em;
}